:root {
  --primary-color: #4e79dd;
  --secondary-color: #6374cc;
  --background-color: #121115;
  --text-color: azure;
  --secondary-font-size: 0.6rem;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
header {
  width: 100%;
}
.headNav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height: clamp(2rem, 6vh, 6rem);
  padding: 0 6.7rem;
}

.headNav li {
  list-style: none;
}
.headNav li a {
  text-decoration: none;
  font-size: clamp(0.4rem, 0.7vw, 0.8rem);
  color: var(--text-color);
}
.subHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: clamp(5vh, 14vh, 20vh);
}
.menu-checkbox,
.hamburger {
  display: none;
}
.subHeader ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-weight: bold;
  column-gap: 50px;
}
.subHeader .logo {
  font-size: clamp(1.3rem, 2vw, 2rem);
  font-family: cursive;
  font-weight: bolder;
  text-decoration: none;
  color: var(--background-color);
  padding: 1.25rem;
}
.subHeader li {
  list-style: none;
}
.subHeader li a {
  text-decoration: none;
  color: rgb(4, 4, 36);
  font-size: clamp(0.6rem, 1vw, 1rem);
  font-weight: lighter;
}
.second-Signup {
  display: none;
}
.signUp {
  background-color: #517bdf;
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  width: 6dvw;
  height: 10%;
  min-height: 5dvh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8125rem;
  font-size: var(--secondary-font-size);
}
.hero {
  background-image:
    linear-gradient(90deg, rgba(6, 154, 252, 0.6), rgba(0, 0, 0, 0)),
    url(images/Marketing.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 0 6rem;
  border-radius: 30px;
  min-height: 70dvh;
  height: clamp(70dvh, 100dvh);
  margin-bottom: 1rem;
}
.idea {
  font-weight: bold;
  font-size: clamp(0.7rem, 1.1vw, 1.2rem);
  padding: 2rem 1.67rem;
}
.fa-regular,
.fa-lightbulb {
  color: var(--secondary-color);
  padding: 0.625rem;
}
.innovation {
  font-weight: bold;
  font-size: clamp(2.5rem, 5vw, 6rem);
  padding: 0 1.67rem;
  line-height: 4rem;
}
.description {
  font-size: 0.9rem;
  padding: 1.67rem;
  line-height: 1.2rem;
  color: rgb(222, 220, 220);
}
.getStarted {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 0.7px solid #fff;
  padding: 1.4rem 1rem;
  border-radius: 30px;
  width: 13dvw;
  margin-left: 1.67rem;
  height: 6.5dvh;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: var(--secondary-font-size);
  font-weight: bold;
  margin-bottom: 1rem;
}

.learnMore {
  color: var(--text-color);
  border: 0.7px solid #fff;
  padding: 1.4rem 1rem;
  border-radius: 30px;
  width: 13dvw;
  margin-left: 0.9rem;
  height: 6.5dvh;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(46, 38, 38, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: var(--secondary-font-size);
}
/* --- RESPONSIVE CHANGES START HERE --- */

/* Tablet */
@media (max-width: 1024px) {
  .headNav ul {
    padding: 0 2rem;
  }

  .hero {
    margin: 0 1.5rem 2rem;
  }

  .signUp,
  .getStarted,
  .learnMore {
    width: 15dvw;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .headNav ul {
    justify-content: space-around;
    gap: 10px;
    padding: 1rem;
  }

  .subHeader {
    position: relative;
    flex-direction: row;
    height: auto;
    padding: 1rem 0;
  }
  .subHeader .logo{
    margin-right: 5rem;
  }

  .hero {
    margin: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
  }

  .innovation {
    line-height: 1.1;
  }

  .signUp {
    width: 24vw;
  }

  .getStarted,
  .learnMore {
    width: 30vw;
    margin: 0.5rem;
  }
  .description {
    font-size: 0.8rem;
    padding: 1rem;
    line-height: 1.1rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 1.25rem;
    z-index: 100;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background: var(--background-color);
    border-radius: 2px;
    transition: 0.3s;
  }

  .subHeader ul {
    position: absolute;
    right: 0;
    top: -17%;
    opacity: 0;
    width: 50%;
    height: 65dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    row-gap: 12px;
    padding: 0;
    margin-top: 1rem;
    background-color: rgba(149, 208, 245, 0.8);
    transform: translateY(-50%);
  }
  .second-Signup {
      background-color: #517bdf;
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  width: 25dvw;
  height: 10%;
  min-height: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--secondary-font-size);
  }
  .subHeader ul a {
    color: #fff;
    font-weight: bold;
    font-style: oblique;
    font-family: "courier new", monospace;
    font-size: clamp(0.8rem, 1.5vw, 2rem);
  }
  .signUp {
    display: none;
  }
  .hero-buttons {
    display: flex;
    flex-direction: row;
  }
.menu-checkbox:checked ~ .hamburger {
  transform: translateX(-50px);
}
.menu-checkbox:checked ~ .hamburger {
  transform: translateX(-100px); /* move left */
}
  /* 3. The Logic: When checkbox is checked, slide the menu in */
  .menu-checkbox:checked ~ ul {
    transform: translateX(0);;
    opacity: 1;
  }

  /* 4. Optional: Animate hamburger into an 'X' when open */
  .menu-checkbox:checked ~ .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .menu-checkbox:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
  }
  .menu-checkbox:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
  
}
